.step-container {
    padding-top: 20px;
}

.step-card {
    text-align: center;
    margin: 50px auto;
    padding: 60px;
    max-width: 70%;
}

.step-heading {
    color: #575040;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
}

.steps-wrapper {
    display: flex;
    flex-direction: column;
}

.step-text {
    color: #575040;
    font-size: 22px;
    font-weight: 300;
    text-align: start;
    margin: 20px 130px;
    display: flex;

}