.temp-button {
    background-color: #575040;
    display: flex;
    color: #e0d9c7;
    font-size: 20px;
    width: fit-content;
    border-radius: 5px;
    border: none;
    margin: 30px 50px 20px 0px;
    padding: 18px 30px;
    cursor: pointer;
    align-items: center;
}

.temp-button:hover {
    background-color: #333029;
}

.temp-button-selected {
    background-color: #24221d;
}

.temp-text{
    font-size: 22px;
}

.temp-icon{
    margin-left: 50px;
    font-size: 28px;
}

@media (max-width: 767px) {

    .temp-button {
        font-size: 16px;
        margin: 0px 0px 0px 20px;
        padding: 10px 15px;
        
    }

    .temp-text{
        font-size: 20px;
        padding: 20px;
    }

    .temp-icon{
        margin-left: 40px;
        font-size: 20px;
    }
    
    

}