.make-coffee-button {
    background-color: #786c4d;
    color: #e0d9c7;
    font-size: 20px;
    width: fit-content;
    border-radius: 5px;
    border: none;
    margin: 10px 0px 40px 50px;
    padding: 10px 150px;
    cursor: pointer;
}

.make-coffee-button:hover {
    background-color: #333029;
}

.make-coffee-button-selected {
    background-color: #24221d;
}


.make-coffee-column1 {
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.make-coffee-column2 {
    background-color: #e0d9c7;
    min-height: auto;
    padding-top: 180px;
}

.make-coffee-top-text {
    font-size: 20px;
    padding: 0px 50px 30px 50px;
    font-weight: 200;
}

.suggested-recipe-heading {
    font-size: 22px;
    padding: 30px 20px 30px 50px;
}

.alert-heading {
    font-size: 20px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    text-align: center;
    border-radius: 8px;
    margin: 10px 50px 40px 50px;
    padding: 10px 15px 10px 15px;
    background-color: rgb(235, 184, 184);
    color: rgb(116, 74, 74) !important;
}

@media (max-width: 1567px) {
    .make-coffee-button {
        font-size: 16px;
        margin: 20px 0px 20px 20px;
        padding: 10px 50px;
    }


    .make-coffee-column1 {
        height: 100vh;
    }

    .make-coffee-column2 {
        min-height: auto;
        padding: 140px 0px 0px 0px;
    }

    .make-coffee-top-text {
        font-size: 16px;
        padding: 0px 20px 0px 20px;
        font-weight: 200;
    }

    .suggested-recipe-heading {
        font-size: 20px;
        padding: 20px;
    }

    .alert-heading {
        font-size: 16px;
        margin: 20px;
        padding: 10px;
    }
    

}


@media (max-width: 767px) {
    .make-coffee-column1 {
        height: 60vh;
    }

    .make-coffee-column2 {
        padding: 0px;
    }
}