.ingredient-button {
    background-color: #575040;
    color: #e0d9c7;
    font-size: 20px;
    width: fit-content;
    border-radius: 5px;
    border: none;
    margin: 30px 50px 20px 0px;
    padding: 18px 30px;
    cursor: pointer;
}

.ingredient-button:hover {
    background-color: #333029;
}

.ingredient-button-selected {
    background-color: #24221d;
}

.pick-ingredient-heading{
    font-size: 22px;
     padding: 50px 20px 0px 0px;
}