.make-coffee-image {
    position: fixed;
    object-fit: cover;
    width: 30%;
    height: auto;
    translate: -50% -30%;

}

.make-coffee-smoke {
    position: fixed;
    object-fit: cover;
    width: 30%;
    height: auto;
    translate: -55% -80%;

}

@media (max-width: 767px) {
    .make-coffee-image {
        position: absolute;
        width: auto;
        height: 25vh;
        translate: -50% 0%;
    }
    .make-coffee-smoke {
        position: absolute;
        width: auto;
        height: 25vh;
        translate: -55% -60%;
    }
}
