.ingredient-button {
    background-color: #575040;
    color: #e0d9c7;
    font-size: 20px;
    width: fit-content;
    border-radius: 5px;
    border: none;
    margin: 30px 0px 40px 50px;
    padding: 18px 30px;
    cursor: pointer;
}

.ingredient-button:hover {
    background-color: #333029;
}

.ingredient-button-selected {
    background-color: #24221d;
}

.ingredient-container{
    display: flex;
    flex-wrap: wrap;
}

.pick-ingredient-heading{
    font-size: 22px;
     padding: 50px 20px 0px 50px;
}

@media (max-width: 1567px) {
    .ingredient-button {
        font-size: 16px;
        margin: 0px 0px 20px 20px;
        padding: 10px 13px;
        cursor: pointer;
    }
    .pick-ingredient-heading{
        font-size: 20px;
        padding: 20px;
    }
    .ingredient-container{
        padding-right: 20px;
    }
}
