.carousel-heading {
  color: #575040;
  padding-top: 60px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  
}

.carousel-heading-text{
  justify-content: center;
  font-size: 30px;
  font-weight: 400;
}

.carousel-see-all {
  position: absolute;
  right: 0;
  padding-right: 240px;
  font-size: 20px;
  text-decoration: underline;
}


.carousel-container {
  position: relative;
  margin: 10px 200px;

}

@media (max-width: 767px) {
  .carousel-heading {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .carousel-heading-text{
    font-size: 20px;
    font-weight: 400;
  }

  .carousel-see-all {
    right: 0;
    padding-right: 20px;
    font-size: 14px;
    text-decoration: underline;
  }


  .carousel-container {
    position: relative;
    margin: 10px 20px;

  }


}