.carousel-card {
    width: 19rem;
    height: 24rem;
    position: relative;
    margin-bottom: 40px;
    padding: 5px 5px;
}

.carousel-card-heart {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;

}

.carousel-card-image {
    object-fit: cover;
    width: 100%;
    height: 21rem;
}

.gradient-overlay {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%; 
    height: 21rem;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)); 
    margin: 5px 5px;
  }