.recipe-container {
    margin: 0px 11%;
    padding-bottom: 20px;
    align-items: center;
}

@media (max-width: 767px) {
    .recipe-container {
    margin: 0px 8%;

        padding-bottom: 20px;
        align-items: center;
        justify-content: center;
    }

}