.search-results-text{
    padding-top: 160px;
    text-align: center;
    font-size: 30px;
}

@media (max-width: 767px) {
    .search-results-text{
        padding-top: 140px;
        text-align: center;
        font-size: 20px;
      }
}